<!DOCTYPE html>
<html lang="en" ng-app="teamformApp" >
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>teamform - A real-time online team forming app</title>
    
      <!-- libraries and CSS 	  
    	JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
    	Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
    	Font-awesome: More icons for the web development (v4.6.3 is used)		
    	site.css: A customized css for our web application. Not from any web framework. 
      -->
      <!--Firebase-->
      <script src="lib/firebase.js"></script>  
      <script src="js/firebase.js"></script>
      <!--Bootstrap-->
      <script src="lib/jquery.min.js"></script>      
      <script src="lib/bootstrap.min.js"></script>

      <!--Angular JS and router-->
      <!--<script src="lib/angular.min.js"></script>    --> 	 
      <!--<script src="lib/angular-ui-router.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>   	 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.1.0/angularfire.min.js"></script>  
    
      
      <!--JavaScript-->
      <script src="js/script.js"></script>
      <script src="js/router.js"></script>
      <script src="js/login.js"></script>
      <script src="js/createCtrl.js"></script>
      <script src="js/recommend.js"></script>
      <script src="js/team.js"></script>

          <!-- JavaScript of this page -->
     <script src="js/index.js"></script>
             
      <!--CSS-->  	  
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> 
      <link rel="stylesheet" href="css/style.css">  
 
      <!-- Customized libraries shared by pages -->
      <script src="js/site.js"></script>

      <!--script src="tags_sample.json" ></script-->

        <!-- jQuery -->
       <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
       <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
       <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


   </head>
   
   <body>
    <!-- navibar -->
    <div class="navbar-wrapper">
        <nav class="navbar navbar-fixed-top navbar-default navbar-custom">
           <div class="container-fluid">
              <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="#about">Gaebbi</a>
              </div>
              <div ng-controller="AuthCtrl" id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a ui-sref="about">About</a></li>
                  <li ng-click="login()" ng-hide="isLoggedIn"><a>Login</a></li>
                  <li><a ui-sref="events">Events</a></li>
                  <li ng-show="isLoggedIn"><a ui-sref="userProfile">MyPage</a></li>
                  <li ng-click="logout()" ng-show="isLoggedIn"><a ui-sref="logout">Logout</a></li>
                </ul>
              </div>
           </div>
        </nav>
    </div>
    
    <!-- Main Part -->
    <ui-view ></ui-view>
    
       
    <!-- FOOTER -->
    <footer>
      <div class="container-fluid">
        <div class="row text-center">
          <p>&copy; 2017 COMP3111 Gaebbi Web </p>
          <p><small>Powered by <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></small></p>
        </div>
      </div>
    <!-- fixed button -->  
      <a href="#"><i class="fa fa-chevron-circle-up btm-right pull-right"></i></a>
    </footer>
    <!-- /.container -->




   </body>
</html>
