<div>
	<h1>Create Team</h1>
	<!-- event image here -->
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name">
	</div>
	<div class="form-control">
		<label for="desciption">Description</label>
		<textarea class="form-control" rows="5" id="description"></textarea>
	</div>
	<div class="form-control">
		<label for="currentTeamSize">Prefered Team Size</label>
		<span>
			<span class="badge">{{param.currentTeamSize}}</span>
			<button><span class="glyphicon glyphicon-plus" ng-click="changeCurrentTeamSize(1);"></span></button>
			<button><span class="glyphicon glyphicon-minus" ng-click="changeCurrentTeamSize(-1);"></span></button>
		</span>
	</div>
	<div class="ui-widget">
		<label for="tags">Tags</label>
		<input id="tags" class="ui-autocomplete-input">
	</div>
	<input type="submit" value="create_team"/>
</div>