<div>
	<div class="container-fluid">
		<div class="row create-box">
			<h1 class="title text-center">Create Team</h1>
			<!-- team image here -->
			<!--<div class="hovereffect">-->
			<div class="text-center">
				<img ng-src="img/profile.png" class="img-circle profile" alt="Image Loading..."></img>
				<!--<div class="overlay">
					<p>
                    	<i class="fa fa-picture-o">
						<input type="file" value="upload" id="fileUpload" ng-click="upload()"/>
                    	</i>
					</p>
				</div>-->
			</div>
			<div class="inner-box">
				<div class="form form-group" ng-class="{ 'has-error' : !input.name}">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" ng-model="input.name">
				</div>
				<div class="form form-group" ng-class="{ 'has-error' : !input.description}">
					<label for="desciption">Description</label>
					<textarea class="form-control" rows="5" id="description" ng-model="input.description">{{input.description}}</textarea>
				</div>
				<div class="form form-group">
					<label for="currentTeamSize">Minimum Prefered Team Size</label>
					<div class="input-group">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default btn-number" ng-click="decreaseMin()">
								<span class="glyphicon glyphicon-minus"></span>
						</button>
						</span>
						<input class="form-control input-number  text-center" ng-model="input.min">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default btn-number" data-type="plus" ng-click="increaseMin()">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>
					</div>
				</div>
				<div class="form form-group">
					<label for="currentTeamSize">Maximum Prefered Team Size</label>
					<div class="input-group">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default btn-number" ng-click="decreaseMax()">
								<span class="glyphicon glyphicon-minus"></span>
						</button>
						</span>
						<input class="form-control input-number  text-center" ng-model="input.max">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default btn-number" data-type="plus" ng-click="increaseMax()">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>
					</div>
				</div>
				<div class="form form-group">
					<label for="tags">Tags</label>
					<input id="tags" class="form-control ui-autocomplete-input" ng-model="input.tags">
				</div>
				<div class="text-center">
					<button type="button" ng-click="addTeam()" class="btn btn-success btn-lg" ng-disabled="!input.name && !input.description">Submit</button>
				</div>
			</div>
		</div>
	</div>

</div>