
<div>
	<div class="navbar-wrapper">
        <nav class="navbar navbar-fixed-top navbar-default navbar-custom">
           <div class="container-fluid">
              <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="#">Gaebbi</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="#about">About</a></li>
                  <li><a href="#">How to</a></li>
                  <li><a href="#">Events</a></li>
                </ul>
              </div>
           </div>
        </nav>
    </div>
    <div ng-controller="js/createCtrl" class="container-fluid">
		<div class="row create-box">
			<h1 class="title text-center">Create Event</h1>
			<!-- event image here -->
			<center><img src="img/profile.png" class="img-circle"></img></center>
			<div class="inner-box">
				<div class="form form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" ng-model="input.name" id="name" placeholder="name">
				</div>
				<div class="form form-group">
					<label for="desciption">Description</label>
					<textarea class="form-control" rows="5" ng-model="input.description" id="description" placeholder="description"></textarea>
				</div>
				
				<div class="form ui-widget">
					<label for="tags">Skills</label>
					<input id="tags" class="form-control ui-autocomplete-input" ng-model="input.tags" placeholder="i.e. Java, Angular JS, Firebase...">
				</div>
				<div class="text-center">
					<input class="submit" type="button" value="SUBMIT" ng-click="addEvent()" ng-disabled="!input.description || !input.name || !input.tags"/>
				</div>
			</div>
		</div>
	</div>
</div>